* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 10%;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.todo-list {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}
#title {
  font-size: 1.4vmin;

  color: aliceblue;
  box-shadow: 5px 3px 5px black;
  align-self: flex-start;
  padding: 0.5rem 1rem;

  border-bottom: 3px solid white;
  border-radius: 2%;
}

.input {
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}
.input input {
  padding: 0.2rem;
  text-align: center;
  width: 90%;
  background-color: white;
  border-style: none;
  color: black;
  outline-style: none;
}
.input button {
  border-style: none;
  border: none;
  min-width: 10%;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
button:hover {
  transform: scale(105%);
  transition: all 0.1s ease;
}
.input button:active {
  transform: scale(100%);
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80vw;
}
.todo-div {
  background-image: linear-gradient(to right, rgb(46, 46, 46) 0%, #818181 100%);
  color: aliceblue;
  box-shadow: 8px 3px 8px black;
  align-self: flex-start;
  display: flex;
  gap: 1.5rem;

  padding: 0.2rem 0.3rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: auto;
  animation-name: appearTodo2;
  animation-duration: 0.5s;
}
.todo-div-active {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 1.5rem;

  padding: 0.2rem 0.5rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  transform: scale(90%);
  transform: all 2s ease;
  min-height: auto;
  opacity: 1;
  animation-name: appearTodo;
  animation-duration: 0.5s;
}

.txt {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  overflow: auto;
}
.txt h3 {
  text-align: center;
  word-wrap: break-word;
  font-weight: 550;
  font-size: 1.5rem;
  /* border: 1px solid red; */
  padding: 0.4rem;
}

.txt p {
  align-self: flex-end;
  padding-right: 2rem;
  font-weight: 200;
  font-size: 1rem;
  font-style: italic;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.btn button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0%;
  border-style: none;
}
.btn .btn-v {
  border: 1px solid white;
  background-color: transparent;

  background-size: contain;
}
.btn .btn-v:active {
  transform: scale(100%);
  background-color: cadetblue;
  transition: all 0.2s ease;
}
.btn-v-active {
  border: 1px solid black;
  border-radius: 10%;
  background-color: white;
  background-image: url("/src/media/tick.png");
  background-size: 1.7rem;
  background-position: center;
}
.btn .btn-x {
  font-weight: 500;
  font-size: large;
  background-color: coral;
  background-size: contain;
  background-image: url("/src/media/2723639.png");
}
.btn .btn-x:active {
  transform: scale(100%);
  transition: all 0.2s ease;
}
@media only screen and (min-width: 600px) {
  .todo-list {
    max-width: 800px;
  }
  .todo {
    max-width: 900px;
  }
}
.div-btn-active {
  display: flex;
  gap: 1rem;

  
  align-items: center;
  width: 100%;
  height: 2rem;
}

.div-btn-active button {
  border-style: none;
  height: 40px;
  border: none;
  width: 100px;
  font-size: 1.2vmax;

  color: white;
  font-weight: bold;
  text-align: center;
  animation-name: appear;
  animation-duration: 0.5s;
}
#btn-active {
  background-color: coral;
}
#btn-active:active {
  transform: scale(95%);

  background-color: rgb(250, 79, 17);
  transition: all 0.2s ease;
}
#btn-delete {
  background: black;
}
#btn-delete:active {
  transform: scale(95%);

  background-color: rgba(0, 0, 0, 1);
  transition: all 0.2s ease;
}
@keyframes appear {
  0% {
    transform: scale(0%);
  }
  70% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes appearTodo {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(85%);
  }
  100% {
    transform: scale(90%);
  }
}
@keyframes appearTodo2 {
  0% {
    transform: scale(90%);
  }

  70% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
